{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Polls{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>

<nav>
    <a href="{% url 'polls:index' %}">Home</a>

    {% if user.is_authenticated %}
        <span>Hello, {{ user.username }}</span>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'polls:register_user' %}">Register</a>    
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</nav>

{% block content %}
{% endblock %}

</body>
</html>
